body {
    background-color: #f7f7f7;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-title {
    color: #53a92c;
    text-align: center;
    margin-bottom: 20px;
}
.custom-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.card {
    width: 100%;
    max-width: 500px;
}
.btn-green {
    background-color: #53a92c;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s, border 0.3s;
}

.btn-green:hover {
    background-color: white;
    color: #53a92c;
    border: 2px solid #53a92c;
}
.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}