<h2 mat-dialog-title>Add New Location</h2>
<mat-dialog-content>
  <form [formGroup]="locationForm" class="form-container">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Location Name</mat-label>
      <input matInput formControlName="nameLocation">
    </mat-form-field>
    <div class="grid-container">
      <mat-form-field appearance="outline" class="grid-item">
        <mat-label>Address</mat-label>
        <input matInput formControlName="addressLocation">
      </mat-form-field>
      <mat-form-field appearance="outline" class="grid-item">
        <mat-label>Apt/Suite</mat-label>
        <input matInput formControlName="aptSuite">
      </mat-form-field>
    </div>
    <div class="grid-container">
      <mat-form-field appearance="outline" class="grid-item">
        <mat-label>City</mat-label>
        <input matInput formControlName="city">
      </mat-form-field>
      <mat-form-field appearance="outline" class="grid-item">
        <mat-label>State</mat-label>
        <mat-select formControlName="state">
          <mat-option *ngFor="let state of states" [value]="state">{{ state }}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" class="grid-item">
        <mat-label>Zip</mat-label>
        <input matInput formControlName="zip" type="number">
      </mat-form-field>
    </div>
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Country</mat-label>
      <mat-select formControlName="country">
        <mat-option *ngFor="let country of countries" [value]="country.name">{{ country.name }}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Primary Use</mat-label>
      <mat-select formControlName="primaryUse">
        <mat-option *ngFor="let use of primaryUses" [value]="use">{{ use }}</mat-option>
      </mat-select>
    </mat-form-field>
    <div class="grid-container">
      <mat-form-field appearance="outline" class="grid-item">
        <mat-label>Gross Area (sqft)</mat-label>
        <input matInput formControlName="grossArea" type="number">
      </mat-form-field>
      <mat-form-field appearance="outline" class="grid-item">
        <mat-label>SQ</mat-label>
        <mat-select formControlName="sq">
          <mat-option *ngFor="let sqOption of sqOptions" [value]="sqOption">{{ sqOption }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    Apart from electricity, does your location utilize any of the following utilities?
    <mat-checkbox formControlName="usesNaturalGas" class="custom-checkbox">Uses Natural Gas</mat-checkbox>
    <input type="hidden" formControlName="latitude">
    <input type="hidden" formControlName="longitude">
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-button (click)="onAddLocation()">Add</button>
</mat-dialog-actions>
