<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="/assets/auth/css/opensans-font.css">
    <link rel="stylesheet" type="text/css" href="/assets/auth/fonts/line-awesome/css/line-awesome.min.css">
    <link rel="stylesheet" href="/assets/auth/css/style.css"/>
</head>
<body class="form-v4">
    <div *ngIf="isLoading; else registerFormTemplate">
        <app-loading></app-loading>
    </div>
    <ng-template #registerFormTemplate>
        <div class="page-content">
            <div class="form-v4-content">
                <div class="form-left">
                    <img src="assets/images/p02.png" alt="Background Image" class="form-left-image">
                </div>
                <form class="form-detail" [formGroup]="registerForm" (ngSubmit)="onSubmit()" id="myform" novalidate>
                    <h2 class="form-title">Register Form</h2>
                    <div class="form-group">
                        <div class="form-row form-row-1">
                            <input type="text" id="first_name" formControlName="firstName" class="input-text" placeholder="First Name" required>
                            <div *ngIf="registerForm.get('firstName')?.invalid && (registerForm.get('firstName')?.dirty || registerForm.get('firstName')?.touched)" class="error">
                                <div *ngIf="registerForm.get('firstName')?.errors?.['required']">Please enter your first name</div>
                            </div>
                        </div>
                        <div class="form-row form-row-1">
                            <input type="text" id="last_name" formControlName="lastName" class="input-text" placeholder="Last Name" required>
                            <div *ngIf="registerForm.get('lastName')?.invalid && (registerForm.get('lastName')?.dirty || registerForm.get('lastName')?.touched)" class="error">
                                <div *ngIf="registerForm.get('lastName')?.errors?.['required']">Please enter your last name</div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <input type="email" id="your_email" formControlName="email" class="input-text" placeholder="Your Company Email Address" required>
                        <div *ngIf="registerForm.get('email')?.invalid && (registerForm.get('email')?.dirty || registerForm.get('email')?.touched)" class="error">
                            <div *ngIf="registerForm.get('email')?.errors?.['required']">Please provide an email</div>
                            <div *ngIf="registerForm.get('email')?.errors?.['email']">Invalid email format</div>
							<div *ngIf="registerForm.get('email')?.errors?.['companyEmail']">Email must be a company email</div>

                        </div>
                    </div>
                    <div class="form-row">
                        <input type="text" id="company_name" formControlName="companyName" class="input-text" placeholder="Company Name" required>
                        <div *ngIf="registerForm.get('companyName')?.invalid && (registerForm.get('companyName')?.dirty || registerForm.get('companyName')?.touched)" class="error">
                            <div *ngIf="registerForm.get('companyName')?.errors?.['required']">Please provide a company name</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-row form-row-1">
                            <input type="password" id="password" formControlName="password" class="input-text" placeholder="Password" required>
                            <div *ngIf="registerForm.get('password')?.invalid && (registerForm.get('password')?.dirty || registerForm.get('password')?.touched)" class="error">
                                <div *ngIf="registerForm.get('password')?.errors?.['required']">Please enter a password</div>
                                <div *ngIf="registerForm.get('password')?.errors?.['minlength']">Password must be at least 8 characters</div>
                                <div *ngIf="registerForm.get('password')?.errors?.['pattern']">Password must contain at least one uppercase letter, one number, and one special character</div>
                            </div>
                        </div>
                        <div class="form-row form-row-1">
                            <input type="password" id="confirm_password" formControlName="confirmPassword" class="input-text" placeholder="Confirm Password" required>
                            <div *ngIf="registerForm.get('confirmPassword')?.invalid && (registerForm.get('confirmPassword')?.dirty || registerForm.get('confirmPassword')?.touched)" class="error">
                                <div *ngIf="registerForm.get('confirmPassword')?.errors?.['required']">Please confirm your password</div>
                                <div *ngIf="registerForm.errors?.['mismatch']">Passwords do not match</div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row-last">
                        <button type="submit" class="btn btn-green">Register</button>
                    </div>
                    <div class="form-row-last">
                        <p class="login-link">Already have an account? <a (click)="navigateToLogin()">Login</a></p>
                    </div>
                </form>
            </div>
        </div>
    </ng-template>
</body>
</html>
