<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    
    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- Font-->
    <link rel="stylesheet" type="text/css" href="/assets/auth/css/opensans-font.css">
    <link rel="stylesheet" type="text/css" href="/assets/auth/fonts/line-awesome/css/line-awesome.min.css">
    <!-- Main Style Css -->
    <link rel="stylesheet" href="/assets/auth/css/style.css"/>
		<!-- Jquery -->
		<link rel="stylesheet" href="https://jqueryvalidation.org/files/demo/site-demos.css">
	
</head>
<body class="form-v4">
    <div class="page-content">
        <div class="form-v4-content">
            <div class="form-left">
                <img src="assets/images/2.png" alt="Background Image" class="form-left-image">
            </div>
            
            <form class="form-detail" (ngSubmit)="onSubmit()" #loginForm="ngForm" id="myform">
                <h2 class="form-title"> Login </h2>

                <div class="form-row">
                    <input type="email" name="your_email" id="your_email" [(ngModel)]="form.email" #email="ngModel" class="input-text" placeholder="Email" required email>
                    <div *ngIf="email.invalid && (email.dirty || email.touched)" class="error">
                        <div *ngIf="email.errors?.['required']">Please provide an email</div>
                        <div *ngIf="email.errors?.['email']">Invalid email format</div>
                    </div>
                </div>
               
                <div class="form-row">
                    <input type="password" name="password" id="password" [(ngModel)]="form.password" #password="ngModel" class="input-text" placeholder="Password" required>
                    <div *ngIf="password.invalid && (password.dirty || password.touched)" class="error">
                        <div *ngIf="password.errors?.['required']">Please enter a password</div>
                    </div>
                </div>
                <a href="#" class="forgot-password">Forgot Password?</a>
                <div class="form-row-last">
                    <button type="submit" class="btn btn-green">Login</button>
                </div>
                <div class="form-row-last">
                    <p class="login-link">New to Green House? <a (click)="navigateToRegister()">Register</a></p>
                </div>
            </form>

        </div>
      
    </div>
	
</body>
</html>
